@*<main>
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="aspnetTitle">ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
        </section>
        <div class="row">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <h2 id="gettingStartedTitle">Getting started</h2>
                <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
                a broad range of clients, including browsers and mobile devices. ASP.NET Web API
                is an ideal platform for building RESTful applications on the .NET Framework.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="librariesTitle">
                <h2 id="librariesTitle">Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="hostingTitle">
                <h2 id="hostingTitle">Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
            </section>>
        </div>
    </main>*@
<style>
    .oculto {
        display: none;
    }

    .visible {
        display: block;
    }
</style>
<main>
    <table id="table-cliente" class="table">
        <thead>
            <tr>
                <th>Id Cliente</th>
                <th>Tipo Identificación</th>
                <th>Identificación</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th colspan="3">Acciones</th>
            </tr>
        </thead>
        <tbody id="contenedor-tbody">
        </tbody>
    </table>
</main>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        inicializar();
    });
    function inicializar() {
        CargarClientes();
        EditarCliente();
        //Grid();
    }

    function CargarClientes() {
        $.ajax({
            url: '/Cliente',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                PintarCliente(data.Result);
            },
            error: function (error) {
                // Manejar errores
                console.error('Error en la llamada AJAX:', error);
            }
        });
    }
    function PintarCliente(data) {
        var tr = "";
        data.forEach(function (reg) {
            tr = "<tr>"
            tr += "<td><span class='td" + reg.IdCliente + " visible'>" + reg.IdCliente + "</span><input id='IdCliente" + reg.IdCliente + "' class='Cliente" + reg.IdCliente + " oculto' type='text' value='" + reg.IdCliente + "' readonly /></td>";
            tr += "<td><span class='td" + reg.IdCliente + " visible'>" + reg.TipoIdentificacion + "</span><input id='TipoIdentificacion" + reg.IdCliente + "' class='Cliente" + reg.IdCliente + " oculto' type='text' value='" + reg.TipoIdentificacion + "' /></td>";
            tr += "<td><span class='td" + reg.IdCliente + " visible'>" + reg.NumeroIdentificacion + "</span><input id='NumeroIdentificacion" + reg.IdCliente + "' class='Cliente" + reg.IdCliente + " oculto' type='text' value='" + reg.NumeroIdentificacion + "' /></td>";
            tr += "<td><span class='td" + reg.IdCliente + " visible'>" + reg.Nombre + "</span><input id='Nombre" + reg.IdCliente + "' class='Cliente" + reg.IdCliente + " oculto' type='text' value='" + reg.Nombre + "' /></td>";
            tr += "<td><span class='td" + reg.IdCliente + " visible'>" + reg.Apellido + "</span><input id='Apellido" + reg.IdCliente + "' class='Cliente" + reg.IdCliente + " oculto' type='text' value='" + reg.Apellido + "' /></td>";
            tr += "<td><button data-modo='0' data-id='" + reg.IdCliente + "' class='cls-editar'>Editar</button></td>";
            tr += "<td><button class='cls-agregar'>Agregar</button></td>";
            tr += "<td><button class='cls-eliminar'>Eliminar</button></td>";
            tr += "</tr>";
            $("#contenedor-tbody").append(tr);
        });
    }
    function EditarCliente() {
        $("#contenedor-tbody").on("click", ".cls-editar", function () {
            debugger;
            if ($(this).data("modo") == '0') {
                $(this).data("modo", 1);
                $(".Cliente" + $(this).data("id")).removeClass("oculto").addClass("visible");
                $(".td" + $(this).data("id")).removeClass("visible").addClass("oculto");
                $(this).text("Confirmar");
            } else {
                debugger;
                var _IdCliente = $("#IdCliente" + $(this).data("id")).val();
                var _TipoIdentificacion = $("#TipoIdentificacion" + $(this).data("id")).val();
                var _NumeroIdentificacion = $("#NumeroIdentificacion" + $(this).data("id")).val();
                var _Nombre = $("#Nombre" + $(this).data("id")).val();
                var _Apellido = $("#Apellido" + $(this).data("id")).val();
                var _Telefono = $("#Telefono" + $(this).data("id")).val();

                $(".Cliente" + $(this).data("id")).removeClass("visible").addClass("oculto");
                $(".td" + $(this).data("id")).removeClass("oculto").addClass("visible");
                ActualizarCliente(_IdCliente, _TipoIdentificacion, _NumeroIdentificacion, _Nombre, _Apellido, _Telefono);
                $(this).text("Editar");
            }

        })
    }
    function ActualizarCliente(_IdCliente, _TipoIdentificacion, _NumeroIdentificacion, _Nombre, _Apellido, _Telefono) {
        var clienteObj = {

            IdCliente: _IdCliente,
            TipoIdentificacion: _TipoIdentificacion,
            NumeroIdentificacion: _NumeroIdentificacion,
            Nombre: _Nombre,
            Apellido: _Apellido,
            Telefono: _Telefono,
        };

        $.ajax({
            url: '/Cliente/Put',
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(clienteObj),
            success: function (response) {
                debugger;
                console.log(response);
            },
            error: function (error) {
                debugger;
                console.error('Error en la llamada AJAX:', error);
            }
        });
    }
    function AgregarCliente() {
        $("")
    }
</script>
