@{
    bool EsAdmin = Session["EsAdmin"] as bool? ?? false;
    bool CargarListado = Session["CargarListado"] as bool? ?? false;
}
<style>
    .oculto {
        display: none;
    }

    .visible {
        display: block;
    }

    .cls-editar, .cls-agregar, .cls-eliminar {
        border-radius: 5px;
        background: white;
        border: 1px solid gray;
        transform: rotate(90deg);
    }
    .cls-eliminar {
        border-radius: 5px;
        background: white;
        border: 1px solid gray;
        transform: rotate(0deg);
    }
</style>
<main>
    @if (EsAdmin || CargarListado)
    {
        <table id="table-cliente" class="table">
            <thead>
                <tr>
                    <th style="width:7%;display:none;">Id Cliente</th>
                    <th style="width:15%">Tipo Identificación</th>
                    <th style="width:10%">Identificación</th>
                    <th style="width:30%">Nombre</th>
                    <th style="width:30%">Apellidos</th>
                    @if (EsAdmin)
                    {
                        <th style="width:8%;text-align:center;" colspan="3">Acciones</th>
                    }
                </tr>
            </thead>
            <tbody id="contenedor-tbody">
            </tbody>
        </table>
    }
</main>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        inicializar();
    });
    function inicializar() {
        CargarClientes();
        EditarCliente();
    }

    function CargarClientes() {
        $.ajax({
            url: '/Cliente',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                PintarCliente(data.Result);
            },
            error: function (error) {
                // Manejar errores
                console.error('Error en la llamada AJAX:', error);
            }
        });
    }
    function PintarCliente(data) {
        var esAdmin = @Html.Raw(Json.Encode(EsAdmin));
        var tr = "";
        $("#contenedor-tbody").empty();
        data.forEach(function (reg) {
            tr = "<tr>"
            tr += "<td style='display:none;'><span class='td" + reg.IdCliente + " visible'>" + reg.IdCliente + "</span><input id='IdCliente" + reg.IdCliente + "' class='Cliente" + reg.IdCliente + " oculto form-control' type='text' value='" + reg.IdCliente + "' readonly /></td>";
            tr += "<td><span class='td" + reg.IdCliente + " visible'>" + reg.TipoIdentificacion + "</span><input id='TipoIdentificacion" + reg.IdCliente + "' class='Cliente" + reg.IdCliente + " oculto form-control' type='text' value='" + reg.TipoIdentificacion + "' /></td>";
            tr += "<td><span class='td" + reg.IdCliente + " visible'>" + reg.NumeroIdentificacion + "</span><input id='NumeroIdentificacion" + reg.IdCliente + "' class='Cliente" + reg.IdCliente + " oculto form-control' type='text' value='" + reg.NumeroIdentificacion + "' /></td>";
            tr += "<td><span class='td" + reg.IdCliente + " visible'>" + reg.Nombre + "</span><input id='Nombre" + reg.IdCliente + "' class='Cliente" + reg.IdCliente + " oculto form-control' type='text' value='" + reg.Nombre + "' /></td>";
            tr += "<td><span class='td" + reg.IdCliente + " visible'>" + reg.Apellido + "</span><input id='Apellido" + reg.IdCliente + "' class='Cliente" + reg.IdCliente + " oculto form-control' type='text' value='" + reg.Apellido + "' /></td>";
            if (esAdmin) {
                tr += "<td><button class='cls-agregar'>&#43;</button></td>";
                tr += "<td><button data-modo='0' data-id='" + reg.IdCliente + "' class='cls-editar'>&#9998;</button></td>";
                tr += "<td><button class='cls-eliminar'>&#10007;</button></td>";
            }
            tr += "</tr>";
            $("#contenedor-tbody").append(tr);
        });
    }
    function EditarCliente() {
        $("#contenedor-tbody").on("click", ".cls-editar", function () {
            if ($(this).data("modo") == '0') {
                $(this).data("modo", 1);
                $(".Cliente" + $(this).data("id")).removeClass("oculto").addClass("visible");
                $(".td" + $(this).data("id")).removeClass("visible").addClass("oculto");
                $(this).html("&#10003;");
                $(this).css("transform", "rotate(0deg)");
            } else {
                $(this).data("modo", 0);
                $(this).html("&#9998;");//
                $(this).css("transform", "rotate(90deg)");
                var _IdCliente = $("#IdCliente" + $(this).data("id")).val();
                var _TipoIdentificacion = $("#TipoIdentificacion" + $(this).data("id")).val();
                var _NumeroIdentificacion = $("#NumeroIdentificacion" + $(this).data("id")).val();
                var _Nombre = $("#Nombre" + $(this).data("id")).val();
                var _Apellido = $("#Apellido" + $(this).data("id")).val();
                var _Telefono = $("#Telefono" + $(this).data("id")).val();

                $(".Cliente" + $(this).data("id")).removeClass("visible").addClass("oculto");
                $(".td" + $(this).data("id")).removeClass("oculto").addClass("visible");
                ActualizarCliente(_IdCliente, _TipoIdentificacion, _NumeroIdentificacion, _Nombre, _Apellido, _Telefono);
            }

        })
    }
    function ActualizarCliente(_IdCliente, _TipoIdentificacion, _NumeroIdentificacion, _Nombre, _Apellido, _Telefono) {
        var clienteObj = {

            IdCliente: _IdCliente,
            TipoIdentificacion: _TipoIdentificacion,
            NumeroIdentificacion: _NumeroIdentificacion,
            Nombre: _Nombre,
            Apellido: _Apellido,
            Telefono: _Telefono,
        };

        $.ajax({
            url: '/Cliente/Put',
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(clienteObj),
            success: function (response) {
                CargarClientes();
            },
            error: function (error) {
                console.error('Error en la llamada AJAX:', error);
            }
        });
    }
    function AgregarCliente() {
        $("")
    }
</script>
